@font-face {
    font-family: hbt80;
    src: url(./fonts/SVN-Gilroy\ Medium.otf);
}
@font-face {
    font-family: hbt79;
    src: url(./fonts/TUV-Domaine-Regular.ttf);
}
:root{
    --green:#266E6A;
    --black:#354046;
}
 *{
    /* font-family: 'Roboto', sans-serif; */
    margin:0; padding:0;
    box-sizing: border-box;
    border: none !important;
    text-decoration: none !important;
    outline: none !important;
    /* text-transform: capitalize; */
    font-weight: 400;
    transition: all .2s linear;
    font-family: hbt80;
    color: var(--green);
 }
 *::selection{
     background: var(--black);
     color: #fff3e3;
}
html{
    font-size: 62.5%;
 
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
}
header{
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
    padding: 2rem 1rem;
    background-color: #fff3e3;
    

}
header a{
    color:var(--green);
}
header a:hover{
    color: var(--yellow);
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header .container .logo{
    font-size: 3rem;
}

header .nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
header .nav ul li{
    margin: 0 1rem;
}
header .nav ul li a{
    font-size: 2rem;
}
header .fa-bars{
    font-size: 3.5rem;
    color: var(--yellow);
    cursor: pointer;
    display: none;
}


header .fa-times{
    transform:rotate(180deg);
}

@media(max-width:768px){
    html{
        font-size: 60%;
    }
    header .fa-bars{
        display: block;

    }
    header .nav{
        position: fixed;
        top: -100rem;
        left: 50%;
        transform:translate(-50%,-50%);
        box-shadow: 0 0 0 100vh rgba(0, 0, 0, .3);
        border-radius: .5rem;
        border: .3rem solid var(--yellow) !important;
        background: #fff3e3;;
        width: 95%;
        opacity: 0;
    }
    header .nav ul{
        width: 100%;
        flex-flow: column;
        padding: 2rem 0;
    }
    header .nav ul li{
        width: 100%;
        text-align: center;
        margin: 1rem 0;
    }
    header .nav ul a{
        font-size: 3rem;
        display: block;
    }
    header .nav-toggle{
        top:50%;
        opacity: 1;
    }
    section{
        padding-top: 5rem;
    }
    .contact form input[type="submit"]{
        width: 100%;
    }


}
.button{
    height: 5rem;
    width: 18rem;
    background: var(--green);
    color: #ffff;
    font-size: 25px;
    text-transform: capitalize;
    cursor: pointer;
    position: relative;
    z-index: 0;
    overflow:hidden;
    border-radius: 5rem;

}
/* .button::before{
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--black);
    z-index: -1;
    transition: .2 linear;
}
.button:hover:before{
    top: 0%;

}
.button:hover{
    box-shadow: .1rem .5rem var(--yellow),
                0 .3rem .5rem rgba(0,0,0,.3);
} */


section{
    overflow-x: hidden;
    padding-top: 2rem;
    background-color: #fff3e3;;
}
.home .content{
    padding-bottom: 2rem !important;

}
.home .content h1{
    font-size: 4rem;
    color: var(--black);

}
.home .content h3{
    font-size: 3rem;
    color: var(--black);

}
.home .content h1 span{
    color: var(--yellow);

}
.about{
    background-image: url("./images/Rectangle 1.png");
    height: 300px;
}
/* .about .content .box{
    margin: 3rem 0;
}
.about .content .box h3{
    font-size: 2.5rem;
    color: var(--black);
}
.about .content .box h3 i{
    padding: 0 1rem;
    color: var(--yellow);
}
.about .content .box p{
    font-size: 1.7rem;
    color: #666;
    padding-left: 6rem;
} */
.header-active{
    background: #fff;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
    padding: .5rem 1rem;
}
.facility{
    min-height: 100vh;
}
.heading{
    text-align: center;
    font-size: 4rem;
    padding: 1rem;
    padding-top: 8rem;
    color: var(--black);

}
.heading span{
    color: var(--yellow);

}
.facility .box-container{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    margin-bottom:3rem ;

}
.facility .box-container .box{
    height: 30rem;
    width: 30rem;
    margin: .3rem;
    overflow:hidden;


}
.facility .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}
.facility .box-container .box:hover img{
    transform: scale(1.3);
}
.review{

    background-blend-mode: multiply;
    overflow-y: hidden;
}
.review .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 3rem;
}
.review .box-container .box{
    background: #fff;
    width: 30rem;
    height: 15rem;
    margin: 5rem 1rem;
    padding: 1.5rem;
    position: relative;
}
.review .box-container .box img{
    position: absolute;
    height: 5rem;
    width: 5rem;
    object-fit: cover;
    bottom: -7rem;
    left: 1rem;
    border-radius: 50%;

}
.review .box-container .box::before{
    content: '';
    position: absolute;
    bottom: -1rem;
    left: .4rem;
    height: 2rem;
    width: 2rem;
    background: #fff;
    transform: rotate(45deg);
}
.review .box-container .box p{
    font-size: 1.4rem;
    color: var(--black);

}
.review .box-container .box h3{
    text-align: end;
    color: var(--yellow);

}
.review .box-container .box span{
    text-align: end;
    color: #666;
    display: block;
    font-size: 1.5rem;

}
.contact{
    background: var(--black);
}
.contact .heading{
    color: #fff;
}
.contact form{
    text-align: center;

}
.contact form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .inputBox input,select{
    height: 4rem;
    width: 49%;
    padding: 0 1rem;
    margin: 1rem 0;
    font-size: 1.7rem;
    color: var(--black);
}
.contact form textarea{
    height: 20rem;
    resize: none;
    padding: 0 1rem;
    font-size: 1.5rem;
    width: 100%;

}
.contact form input[type="submit"]{
    width: 20rem;
}
.contact form input[type="submit"]:hover{
    background: var(--black);
}
.post{
    overflow-y: hidden;
}
.post .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.post .box-container .box{
    height: 42rem;
    width: 30rem;
    margin: 5rem 1rem;
    overflow:hidden;
    border-radius: .5rem;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);

}
.post .box-container .box img{
    object-fit: cover;
    height: 30rem;
    width: 100%;
}
.post .box-container .box .content{
    padding: 0 1.5rem;
}
.post .box-container .box .content span{
    color: #666;
    font-size: 1.5rem;
    display: flex;
    padding: 1rem 0;
}
.post .box-container .box .content h3{
    font-size: 2rem;
    color: var(--black);
}
.post .box-container .box .content h3:hover{
    color: var(--yellow);
}
.footer{
    background: var(--green);
    overflow-y: hidden;

}

.footer p{
    font-size: 1.5rem;
    color: #eee;

}
p{
    margin-bottom: 0 !important;
}
.footer .col-md-4:nth-child(1) a{
    font-size: 3rem;
    color: #fff;
}
.footer .col-md-4:nth-child(1) a span{
    color:var(--yellow);
}
.footer a{
    font-size: 2rem;
    color: #ccc;
    display: block;

}
.footer .container .cre{
    display: flex;
    justify-content: flex-end;
}
.footer h3{
    color: #fff;
    font-size: 3rem;
}
.footer a:hover{
    color: var(--yellow);
}
.footer .credit{
    color: #fff;
    width: 80%;
    margin: 0;
    /* padding: 2rem 0; */
    padding-top: 4rem;
    border-top: .2rem solid white !important;
}
.footer .container .box-last{
    display: flex;
    /* justify-content:center !important; */
}
.footer .container .box-last a{
    display: block;
    margin-left: 1rem;
}
#img-in{
    z-index: 1000;
}
#radius-video{
    border-radius: 50px;
}